doctype html
html(lang="en")
	head
		link(rel="stylesheet" type="text/css" href="/public/index.css")
		script(src="https://kit.fontawesome.com/de38352bbc.js" crossorigin="anonymous")

		title Home Page
	body
		h1 Welcome to the Spotify/YouTube Playlist Converter
		section(class="spotify-section")
		section(class="youtube-section")
		a(href="/youtube/auth/login") Login to YouTube and Spotify