doctype html
html(lang="en")
	head
		link(rel="stylesheet",type="text/css",href="/index.css")
		script(src="https://kit.fontawesome.com/de38352bbc.js" crossorigin="anonymous")
			
		title User Playlists
	body
		h1 View your playlists

		include components/playlist.pug

		div(class="playlists")
			section(class="youtube-playlists")
				h2 YouTube Playlists
				each playlistData in youtubePlaylistData
					- 
						var playlist = playlistData.snippet;
						var thumbnail = playlist.thumbnails["medium"];
					+playlist({ ...thumbnail, alt: playlist["title"] }, playlist["title"],`/youtube/convert-playlist/${playlist["id"]}`)(class = "youtube-playlist")
					hr
			section(class="spotify-playlists")
				h2 Spotify Playlists
				each playlistData in spotifyPlaylistData
					-
						var imgs = playlistData.images;
						var thumbnail = imgs[0];
					+playlist({ url:thumbnail.url, alt:title, width:300, height:300}, playlistData["name"],`/spotify/convert-playlist/${playlistData["id"]}`)(class = "spotify-playlist")
					hr